{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}

    {% for message in messages %}
    <style>
        .error-message {
            background-color: rgba(251, 8, 8, 0.5);
            margin: 2rem;
            border-radius: 10%;
        }
    </style>
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}

    <form action="{% url 'new_page' %}" method="post" name="add-entry">
        {% csrf_token %}
        <h3>Enter the title of your entry</h3>
        <input type="text" placeholder="" name="entry-title">

        <h3>Enter the contents of your entry</h3>

        <textarea name="entry-contents" rows="4" cols="50"></textarea>

        <button type="submit" name="save-entry">SAVE ENTRY</button>
    </form>


{% endblock %}