{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <style>
        .error-message {
            width: 30%;
        }
        textarea {
            height: 80vh;
            width: 90%;
        }
    </style>

    {% for message in messages %}
    <div class="error-message">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}

    <form action="{% url 'new_page' %}" method="post" name="add-entry">
        {% csrf_token %}
        <h3>Enter the title of your entry:</h3>
        <input type="text" placeholder="Entry name..." name="entry-title">

        <h3>Enter the contents of your entry:</h3>

        <textarea name="entry-contents" placeholder="Entry content..."></textarea>
        <br>
        <button type="submit" name="save-entry">SAVE ENTRY</button>
    </form>


{% endblock %}