{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <style>
        .start-align {
            display: flex;
            justify-content: start;
        }
        .error-message {
            width: 200px;
            background-color: rgba(251, 8, 8, 0.705);
            margin: 1rem 0 1rem 0;
            font-weight: 500;
        }
    </style>

    {% for message in messages %}
    <div class="start-align">
        <div class="error-message">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    <form action="{% url 'new_page' %}" method="post" name="add-entry">
        {% csrf_token %}
        <h3>Enter the title of your entry</h3>
        <input type="text" placeholder="" name="entry-title">

        <h3>Enter the contents of your entry</h3>

        <textarea name="entry-contents"></textarea>

        <button type="submit" name="save-entry">SAVE ENTRY</button>
    </form>


{% endblock %}